[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length = 120

[tool.pytest.ini_options]
pythonpath = ["src"]

[build-system]
requires = ["setuptools>=4.2"]
build-backend = "setuptools.build_meta"
